@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  position: fixed;
  width: 100%;
  height: 100%;
  @apply bg-primary;
}

.scroller {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroller::-webkit-scrollbar {
  background-color: black;
  width: 5px;
  padding-right: 5px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: rgb(147, 147, 147);
}

.nav-link {
  @apply block text-teal-200 mr-4 mt-4;
}
@screen lg {
  .nav-link {
    @apply inline-block;
    @apply my-0;
  }
}
.nav-link:hover {
  @apply text-white;
}
